@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap");
body {
  font-family: "Cormorant Infant", serif;
  background: azure;
  font-size: 16px;
}
.page {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0;
}

.header h1 {
  color: red;
  font-size: clamp(2rem, 3vw, 4rem);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  text-align: center;
}
.navigation {
  width: 100%;
  margin: 3% auto;
  display: flex;
  justify-content: center;
  gap: 3%;
}
.widget {
  max-width: 385px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: #fff;
  position: relative;
  flex-shrink: 1;
}
#dashboard-container ul {
  margin-top: 15px;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 5px;
}
.button-top {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: clamp(0.8rem, 3vw, 1.2rem);
  font-weight: 600;
  outline: 0;
  padding: 10px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-top:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-top:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}
.delete-btn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background: red;
  border-radius: 3px;
  border: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
}
.delete-btn:hover {
  opacity: 0.5;
}
.collapse-btn {
  position: absolute;
  top: 15px;
  right: 45px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.add-btn {
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 14px 18px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 8px;
  box-shadow: 0 6px 18px rgba(41, 128, 185, 0.5);
}
.task-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 8px;
  box-shadow: 0 6px 18px rgba(41, 128, 185, 0.5);
  margin-left: auto;
}
.task-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  box-sizing: border-box;
  margin-bottom: 8px;
  background: white;
  border-radius: 8px;
  padding: 0;
}
.task-list li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #e0e0e0;
  padding: 12px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}
.task-list li span {
  font-size: 18px;
  color: #000;
  width: 50%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .button-top {
    padding: 16px 48px;
  }
}

.button-top:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-top:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 2rem 2rem;
}
input[type="text"] {
  padding: 14px 18px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1.8px solid #bdc3c7;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: #000;
  text-shadow: rgb(51 43 43 / 19%) 0px 3px 3px;
}
input[type="text"]:focus {
  border-color: #0078d0;
}
input[type="text"]:focus::placeholder {
  color: transparent;
  text-shadow: none;
}
@media screen and (max-width: 900px) {
  .page {
    padding: 0 1rem;
  }
  .dashboard {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 1rem 1rem;
  }
}
@media screen and (max-width: 767px) {
  .dashboard {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    gap: 1rem 1rem;
  }
}
